<dl class="flex flex-col w-full md:w-96 text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    {% for record in records %}
    <div class="flex flex-col w-full pb-3 px-4 bg-slate-500 " >
        <dt class="mb-1 text-gray-400 md:text-lg dark:text-gray-100">{{ record.band }}</dt>
        <dd class="text-lg font-bold">{{ record.name }}</dd>
    </div>
    {% endfor %}
</dl>
